@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;1,400&display=swap');

#appPage {
  min-height: 102vh;
  background: white;
  width: 100%;
  padding: 80px;

  @media(max-width: 768px) {
    /*mobiles*/
    padding: 40px;
  }
}

h1,
h2,
p,
input {
  color: #303030;
  font-family: "Rethink Sans", sans-serif;
  line-height: 27px;
}

.wrap {
  margin-top: 20px;
}


h1 {
  font-family: "Rethink Sans", sans-serif;
}

.fw500 {
  font-weight: 500;
}

.flex {
  display: flex;
  gap: 45px;
  justify-content: space-between;
  flex-wrap: wrap;

  @media(max-width: 767px) {
    flex-wrap: wrap;
  }
}

.mt40 {
  margin-top: 40px;
}

.underline {
  text-decoration: underline;
}

.app_description {
  margin-top: 10px;
  width: 512px;
  font-size: 20px;

  @media(max-width: 767px) {
    width: 100%;
  }
}