.inner_loader {
  // height: 100vh;

  .inner_Loading_Text {
    font-size: 25px;
    font-family: "Rethink Sans", sans-serif;
    margin-bottom: 10px;
  }

  .inner_Loading_Text_One, .inner_Loading_Text_Two {
    font-family: monospace;
    font-family: 18px;
    opacity: 0;
  }

  .inner_Loading_Text_One {
    animation: appearOne 1s ease-out forwards;
  }

   .inner_Loading_Text_Two{
    animation: appearOne 1s 1s ease-out forwards;
  }

  svg {
    opacity: 0;
    animation: appearOne 1s 1.5s ease-out forwards;
  }


  @keyframes appearOne {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @media (min-width: 768px) {
    padding-right: 50px;
    padding-bottom: 150px;
  }
  
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path("M 0,700 L 0,105 C 74.56459330143542,125.00956937799043 149.12918660287085,145.01913875598086 247,129 C 344.87081339712915,112.98086124401914 466.0478468899521,60.933014354066984 580,63 C 693.9521531100479,65.06698564593302 800.6794258373207,121.24880382775117 901,130 C 1001.3205741626793,138.75119617224883 1095.2344497607655,100.07177033492823 1184,88 C 1272.7655502392345,75.92822966507177 1356.3827751196172,90.46411483253588 1440,105 L 1440,700 L 0,700 Z");
  }

  25% {
    d: path("M 0,700 L 0,105 C 92.68899521531102,108.66507177033492 185.37799043062205,112.33014354066985 295,118 C 404.62200956937795,123.66985645933015 531.1770334928229,131.3444976076555 609,134 C 686.8229665071771,136.6555023923445 715.9138755980861,134.2918660287081 811,124 C 906.0861244019139,113.70813397129187 1067.1674641148325,95.48803827751195 1183,91 C 1298.8325358851675,86.51196172248805 1369.4162679425838,95.75598086124403 1440,105 L 1440,700 L 0,700 Z");
  }

  50% {
    d: path("M 0,700 L 0,105 C 102.98564593301435,104.53110047846889 205.9712918660287,104.06220095693779 288,94 C 370.0287081339713,83.93779904306221 431.1004784688996,64.28229665071771 526,75 C 620.8995215311004,85.71770334928229 749.6267942583731,126.80861244019138 863,141 C 976.3732057416269,155.19138755980862 1074.3923444976076,142.48325358851676 1168,132 C 1261.6076555023924,121.51674641148324 1350.8038277511962,113.25837320574162 1440,105 L 1440,700 L 0,700 Z");
  }

  75% {
    d: path("M 0,700 L 0,105 C 73.63636363636365,76.97129186602871 147.2727272727273,48.942583732057415 245,52 C 342.7272727272727,55.057416267942585 464.5454545454546,89.20095693779905 581,114 C 697.4545454545454,138.79904306220095 808.5454545454546,154.25358851674642 898,151 C 987.4545454545454,147.74641148325358 1055.2727272727273,125.78468899521532 1142,115 C 1228.7272727272727,104.21531100478468 1334.3636363636365,104.60765550239233 1440,105 L 1440,700 L 0,700 Z");
  }

  100% {
    d: path("M 0,700 L 0,105 C 74.56459330143542,125.00956937799043 149.12918660287085,145.01913875598086 247,129 C 344.87081339712915,112.98086124401914 466.0478468899521,60.933014354066984 580,63 C 693.9521531100479,65.06698564593302 800.6794258373207,121.24880382775117 901,130 C 1001.3205741626793,138.75119617224883 1095.2344497607655,100.07177033492823 1184,88 C 1272.7655502392345,75.92822966507177 1356.3827751196172,90.46411483253588 1440,105 L 1440,700 L 0,700 Z");
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
  0% {
    d: path("M 0,700 L 0,245 C 103.57894736842104,228.1578947368421 207.15789473684208,211.31578947368422 305,208 C 402.8421052631579,204.68421052631578 494.9473684210527,214.89473684210523 587,219 C 679.0526315789473,223.10526315789477 771.0526315789473,221.10526315789474 858,238 C 944.9473684210527,254.89473684210526 1026.842105263158,290.6842105263158 1123,295 C 1219.157894736842,299.3157894736842 1329.578947368421,272.1578947368421 1440,245 L 1440,700 L 0,700 Z");
  }

  25% {
    d: path("M 0,700 L 0,245 C 121.17703349282297,247.47846889952152 242.35406698564594,249.95693779904303 325,253 C 407.64593301435406,256.04306220095697 451.76076555023917,259.6507177033493 540,257 C 628.2392344497608,254.3492822966507 760.602870813397,245.4401913875598 863,245 C 965.397129186603,244.5598086124402 1037.8277511961724,252.5885167464115 1129,254 C 1220.1722488038276,255.4114832535885 1330.0861244019138,250.20574162679424 1440,245 L 1440,700 L 0,700 Z");
  }

  50% {
    d: path("M 0,700 L 0,245 C 116.79425837320576,235.0287081339713 233.58851674641153,225.05741626794256 328,232 C 422.4114832535885,238.94258373205744 494.4401913875597,262.799043062201 590,270 C 685.5598086124403,277.200956937799 804.6507177033494,267.7464114832536 895,251 C 985.3492822966506,234.25358851674642 1046.956937799043,210.2153110047847 1133,208 C 1219.043062200957,205.7846889952153 1329.5215311004786,225.39234449760767 1440,245 L 1440,700 L 0,700 Z");
  }

  75% {
    d: path("M 0,700 L 0,245 C 76.97607655502392,251.82296650717703 153.95215311004785,258.64593301435406 246,245 C 338.04784688995215,231.35406698564594 445.16746411483257,197.2392344497608 563,201 C 680.8325358851674,204.7607655502392 809.377990430622,246.39712918660285 905,256 C 1000.622009569378,265.60287081339715 1063.3205741626796,243.17224880382776 1147,236 C 1230.6794258373204,228.82775119617224 1335.33971291866,236.91387559808612 1440,245 L 1440,700 L 0,700 Z");
  }

  100% {
    d: path("M 0,700 L 0,245 C 103.57894736842104,228.1578947368421 207.15789473684208,211.31578947368422 305,208 C 402.8421052631579,204.68421052631578 494.9473684210527,214.89473684210523 587,219 C 679.0526315789473,223.10526315789477 771.0526315789473,221.10526315789474 858,238 C 944.9473684210527,254.89473684210526 1026.842105263158,290.6842105263158 1123,295 C 1219.157894736842,299.3157894736842 1329.578947368421,272.1578947368421 1440,245 L 1440,700 L 0,700 Z");
  }
}

.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-2 {
  0% {
    d: path("M 0,700 L 0,385 C 121.26315789473685,358.1961722488038 242.5263157894737,331.39234449760767 324,339 C 405.4736842105263,346.60765550239233 447.1578947368422,388.6267942583732 542,397 C 636.8421052631578,405.3732057416268 784.842105263158,380.10047846889955 892,375 C 999.157894736842,369.89952153110045 1065.4736842105262,384.9712918660287 1150,390 C 1234.5263157894738,395.0287081339713 1337.2631578947369,390.0143540669857 1440,385 L 1440,700 L 0,700 Z");
  }

  25% {
    d: path("M 0,700 L 0,385 C 101.48325358851676,385.5454545454545 202.96650717703352,386.09090909090907 287,388 C 371.0334928229665,389.90909090909093 437.61722488038276,393.1818181818182 536,389 C 634.3827751196172,384.8181818181818 764.5645933014355,373.1818181818182 858,368 C 951.4354066985645,362.8181818181818 1008.1244019138755,364.0909090909091 1099,368 C 1189.8755980861245,371.9090909090909 1314.9377990430621,378.45454545454544 1440,385 L 1440,700 L 0,700 Z");
  }

  50% {
    d: path("M 0,700 L 0,385 C 83.45454545454544,365.1626794258373 166.90909090909088,345.32535885167465 278,344 C 389.0909090909091,342.67464114832535 527.8181818181819,359.8612440191388 617,357 C 706.1818181818181,354.1387559808612 745.8181818181818,331.2296650717703 827,333 C 908.1818181818182,334.7703349282297 1030.909090909091,361.2200956937799 1140,374 C 1249.090909090909,386.7799043062201 1344.5454545454545,385.88995215311 1440,385 L 1440,700 L 0,700 Z");
  }

  75% {
    d: path("M 0,700 L 0,385 C 65.28229665071771,386.1387559808612 130.56459330143542,387.2775119617225 234,401 C 337.4354066985646,414.7224880382775 479.02392344497605,441.0287081339713 593,431 C 706.976076555024,420.9712918660287 793.3397129186603,374.60765550239233 871,350 C 948.6602870813397,325.39234449760767 1017.6172248803828,322.5406698564593 1111,332 C 1204.3827751196172,341.4593301435407 1322.1913875598086,363.22966507177034 1440,385 L 1440,700 L 0,700 Z");
  }

  100% {
    d: path("M 0,700 L 0,385 C 121.26315789473685,358.1961722488038 242.5263157894737,331.39234449760767 324,339 C 405.4736842105263,346.60765550239233 447.1578947368422,388.6267942583732 542,397 C 636.8421052631578,405.3732057416268 784.842105263158,380.10047846889955 892,375 C 999.157894736842,369.89952153110045 1065.4736842105262,384.9712918660287 1150,390 C 1234.5263157894738,395.0287081339713 1337.2631578947369,390.0143540669857 1440,385 L 1440,700 L 0,700 Z");
  }
}

.path-3 {
  animation: pathAnim-3 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-3 {
  0% {
    d: path("M 0,700 L 0,525 C 102.20095693779902,537.7177033492823 204.40191387559804,550.4354066985645 299,559 C 393.59808612440196,567.5645933014355 480.5933014354067,571.9760765550241 561,571 C 641.4066985645933,570.0239234449759 715.2248803827752,563.6602870813397 822,549 C 928.7751196172248,534.3397129186603 1068.5071770334928,511.38277511961724 1177,506 C 1285.4928229665072,500.61722488038276 1362.7464114832537,512.8086124401914 1440,525 L 1440,700 L 0,700 Z");
  }

  25% {
    d: path("M 0,700 L 0,525 C 110.63157894736847,521.0191387559809 221.26315789473693,517.0382775119617 323,514 C 424.73684210526307,510.9617224880382 517.5789473684209,508.8660287081339 598,501 C 678.4210526315791,493.1339712918661 746.421052631579,479.49760765550235 852,477 C 957.578947368421,474.50239234449765 1100.7368421052631,483.1435406698565 1205,493 C 1309.2631578947369,502.8564593301435 1374.6315789473683,513.9282296650717 1440,525 L 1440,700 L 0,700 Z");
  }

  50% {
    d: path("M 0,700 L 0,525 C 95.45454545454547,516.6267942583731 190.90909090909093,508.2535885167464 286,511 C 381.09090909090907,513.7464114832536 475.81818181818176,527.6124401913876 569,532 C 662.1818181818182,536.3875598086124 753.8181818181819,531.2966507177033 855,521 C 956.1818181818181,510.7033492822967 1066.909090909091,495.2009569377991 1166,495 C 1265.090909090909,494.7990430622009 1352.5454545454545,509.89952153110045 1440,525 L 1440,700 L 0,700 Z");
  }

  75% {
    d: path("M 0,700 L 0,525 C 92,522.1387559808612 184,519.2775119617224 292,535 C 400,550.7224880382776 524,585.0287081339713 627,572 C 730,558.9712918660287 812,498.6076555023924 902,499 C 992,499.3923444976076 1090,560.5406698564593 1181,575 C 1272,589.4593301435407 1356,557.2296650717703 1440,525 L 1440,700 L 0,700 Z");
  }

  100% {
    d: path("M 0,700 L 0,525 C 102.20095693779902,537.7177033492823 204.40191387559804,550.4354066985645 299,559 C 393.59808612440196,567.5645933014355 480.5933014354067,571.9760765550241 561,571 C 641.4066985645933,570.0239234449759 715.2248803827752,563.6602870813397 822,549 C 928.7751196172248,534.3397129186603 1068.5071770334928,511.38277511961724 1177,506 C 1285.4928229665072,500.61722488038276 1362.7464114832537,512.8086124401914 1440,525 L 1440,700 L 0,700 Z");
  }
}